.main-chat
  .main-header
    .main-header__group-info
      .main-header__group-info__group-name
        = @group.name
      .main-header__group-info__member-list
        Member : 
        - @group.users.each do |user| 
          = user.name
    .main-header__edit-box
      = button_to "Edit", edit_group_path(@group), class: "main-header__edit-box__edit-btn", method: :get
  .message-list
    = render @messages
  .message-form
    = form_for [@group, @message] do |f|
      .message-form__new-message
        .message-form__new-message__message-box
          = f.text_field :content, class: "message-form__new-message__message-box__text", placeholder: "type a message"
          = f.label :image, class: "message-form__new-message__message-box__image" do
            = icon("far", "image")
            = f.file_field :image, class: "message-form__new-message__message-box__image__file"
        = f.submit "Send", class: "message-form__new-message__submit-btn"
