.side-bar
  .side-header
    .side-header__user-info
      .side-header__user-info__user-name
        = current_user.name
      .side-header__user-info__icons
        = link_to new_group_path, class: "side-header__user-info__icons__edit" do
          = icon('fas', 'edit')
        = link_to edit_user_path(current_user.id), class: "side-header__user-info__icons__config" do
          = icon('fas', 'cog')
  .side-contents
    - current_user.groups.each do |group|
      .side-contents__chat-info
        = link_to group_messages_path(group) do
          .side-contents__chat-info__chat-name
            = group.name
          .side-contents__chat-info__latest-message
            = group.show_latest_message
